# SC2154 (warning): YN_PREF is referenced but not assigned.
disable=SC2154
# SC2012 (info): Use find instead of ls
disable=SC2012
# SC2059 (info): Don't use variables in the printf format string
disable=SC2059
# SC2249 (info): Consider adding a default *) case
disable=SC2249
