# This is a manually managed tab separated file of IMDb tconst IDs to exclude
# from processing.

# When a tvSeries is processed, all its tvEpisodes are automatically looked up,
# processed, and added. If a tvSeries has hundreds of tvEpisodes or its
# cast & crew aren't relevant, add the tvSeries tconst below and its tvEpisodes
# will not be processed.

# Only the tconst field is used. Additional fields are not needed, but useful
# for documentation.

# Hint:
#    rg -wNz tt0115355 title.basics.tsv.gz | cut -f 1-4,6 >>skipEpisodes.example

# tconst	Type	Primary Title	Original Title	Date

# Tarantino_director.tconst contains a tvEpisode tt0534695 which is
# one episode of 336 from CSI: Crime Scene Investigation. The following
# line prevents any other episodes from being processed.
tt0247082	tvSeries	CSI: Crime Scene Investigation	CSI: Crime Scene Investigation	2000
