# This is a sample tab separated file of IMDb tconst IDs to exclude from episode
# processing.

# When a tvSeries is processed, all its tvEpisodes are also automatically looked up,
# processed, and added into the generated spreadsheets. This can greatly increase
# their size.
#
# If a tvSeries has hundreds of tvEpisodes or its cast & crew aren't relevant,
# add the tvSeries tconst below and its tvEpisodes will not be processed.

# Create a similar skipEpisodes file of shows to exclude from episode processing.
# If it has a .skipEpisodes extension, it will be automatically processed.
# However it can have any name and extension and be passed as a parameter
# on the command line using the -s switch, e.g. -s Netflix.skipEpisodes.txt

# Only the tconst field is used. Additional fields are not needed, but useful
# for documentation.

# tconst	Service	Primary Title	Date
tt1091909	Acorn	Murdoch Mysteries	2008
tt0115355	Britbox	Silent Witness	1996
tt0094416	PBS	American Experience	1988
tt0206501	PBS	Nova	1974
